@font-face {
    font-family: catamaran;
    src: url("./Catamaran-Regular.ttf");
  }

.login {
    font-family: catamaran, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url("../images/background.jpg");
    background-size:cover;
    background-color: #cccccc;
}

.login__container{
    transition: opacity 1s ease-in-out !important;
    display: flex;
    color: white;
    box-shadow: -1px 15px 10px -6px rgba(0, 0, 0, 0.75);
    background-color: #3f3f40;
    border-radius: 8px;
    padding: 10px;
    min-width: 784px;
    max-width: 784px;
    min-height: 350px;
}

.login__QR{
    border-left: 1.5px solid rgb(57, 55, 55);
    position:relative;
    display: block;
    text-align: center;
    padding: 10px 0px 0px 20px;
    left: 7%;
}


.login__formFooter > h4 {
    max-width: 240px;
    margin: 10px 0px 0px 0px;
    font-weight: 300;
    color: #B9BBBE;
  }

.login__QR > #googleIcon{
    position: relative;
    left: 25%;
    bottom: 5%;
    color: #B9BBBE;
}

.boldDescription {
    font-weight: 700;
  }

.login__QR > img {
    box-shadow: -1px 7px 10px -6px rgba(0, 0, 0, 0.75);
    width: 160px;
    height: 160px;
    border-radius: 9px;
    background: #fff;
    display: inline-block;
    padding: 3px;
}

.login__QR > h5 {
	margin-top: 30px;
	font-size: 17px;
}

.login__QR > h4 {
	margin-top: 15px;
	font-size: 15px;
}

.login__form{
    flex:0.6;
		padding: 20px;
    flex-direction: column;
    display: flex;
}

.login__formHeader{
    position: relative;
    flex: 0.2;
    text-align: center;
    
}

.login__formHeader > h4 {
    position:relative;
    text-align: center;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    color: #B9BBBE;
  }

.login__formHeader > h3 {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 10px;
  }


.login__formBody{
    flex: 0.4;
    margin-top: 10px;
}

.login__formBodyEmail{
    position: relative;
    bottom: 40%;
    margin-bottom: 20px;
}

.login__formBodyPassword{
    position: relative;
    bottom: 30%;
    margin-bottom: 20px;
}

label {
    outline: none;
    display: inline-block;
    color: rgb(185, 187, 190);
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 8px;
  }

.attention {
  color: #f38688;
}

input {
    border-radius: 3px;
    width: 100%;
    height: 40px;
    background-color: #303338;
    border: 1px solid black;
    color: #dcddde;
    outline: none;
  }

.field{
    position: relative;
    bottom: 10%;
    margin-bottom: 17px;
}

.login__formFooter{
    flex:0.2;
    position: relative;
    margin-top: 50px;
    top: 15px;
}


.login__formFooter > .button {
    position: relative;
    bottom: 35px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    height: 40px;
}

.login__QR{
    flex:0.3;
}

.toSignUp__container {
  display: flex;
}

.toSignUp {
  margin: 3px;
  float: left;
  font-size: 17px;
  color: rgba(200,200,200,0.8);
  font-weight: 500;
  text-decoration: none;
}

.toSignUp__link {
  cursor: pointer;
  margin: 3px;
  font-size: 17px;
  color: rgb(147, 228, 255);
  font-weight: 500;
  text-decoration: none;
}
